.mainContainer {
  width: 100%;
  border: 1px solid red;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  padding: 20px;
  align-items: start;
}

.flip-card {
  background-color: transparent;
  width: 19.6%;
  height: 20%;
  min-height: 197px;
  border: 4px solid;
  border-radius: 5px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  cursor: pointer;
  transition: all 0.5s;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transition: all 0.5s;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #ffffff;
  color: black;
}

/* Style the back side */
.flip-card-back {
  /* background-color: dodgerblue; */
  color: white;
  transform: rotateY(180deg);
}
